{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kassa</title>
</head>
<body>
        <div class="container">
                <form action="{%url 'addcompany' %}" method="POST">                   
                    {{form|crispy}}
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text">
                        <button type="submit" class="form-control btn btn-primary">Search</button>
                    </div>
                </form>
        </div>
</body>
</html>